//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #fedd3c;
$secondary: #999899;
$danger: #d3344c;
$success: #79c043;