<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /desarrollo/sami
RewriteRule ^desarrollo/sami/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /desarrollo/sami/index.html [L]
</IfModule>